<footer>
  
  <!-- Social links -->
  <div class="footerDiv footerSocialApp">
    <ul class="socialApp-list">
      <li class="socialApp-list--item">
        <a href="#" target="_blank">
          <i class="fa-brands fa-instagram fa-2xl"></i>
        </a>
      </li>
      <li class="socialApp-list--item">
        <a href="#" target="_blank">
          <i class="fa-brands fa-facebook fa-2xl"></i>
        </a>
      </li>
    </ul>
  </div>

  <!-- Legal -->
  <div class="footerDiv footerLegal">

    <div class="copyright">
      <span>Coppyright <i class="fa-regular fa-copyright"></i> 2022 Timon Schill</span>
    </div>

    <ul class="legal-list">
      <li class="legal-list--item">
        <a href="#" class="AGB-link">AGB</a>
      </li>
      <li class="legal-list--item">
        <a href="#" class="datenschutz-link">Datenschutzerklärng</a>
      </li>
      <li class="legal-list--item">
        <a href="#" class="impressum-link">Impressum</a>
      </li>
      <li class="legal-list--item">
        <a href="#" class="cookies-link">Cookie-Einstellungen</a>
      </li>
    </ul>
  </div>

</footer>
