<footer>
  
  <!-- social media -->
  <div class="footerDiv socialApp">
    <ul class="socialApp-list">
      <li class="socialApp-list--item">
        <a href="#" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
      <li class="socialApp-list--item">
        <a href="#" target="_blank">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </li>
    </ul>
  </div>

  <!-- AGB -->
  <div class="footerDiv">
    <div class="AGB">
      <a href="#" class="AGB-link">AGB</a>
    </div>
    <div class="datenschutz">
      <a href="#" class="datenschutz-link">Datenschutzerklärng</a>
    </div>
    <div class="impressum">
      <a href="#" class="impressum-link">Impressum</a>
    </div>
    <div class="cookies">
      <a href="#" class="cookies-link">Cookie-Einstellungen</a>
    </div>
  </div>

</footer>
