/* .about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
} */


/* Add styling to global container */

.container {
    align-items: center;
    background-color: var(--background-color_1);
}

h2 {
    color: var(--bright-grey);
}

a {
    text-decoration: none;
}

.about-page_top {
    height: 100vh;
    background-color: var(--background-color_1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-portrait,
.about-text {
    width: 50%;
}

.about-portrait>img {
    margin: 0 auto;
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--button-green);
}

.values-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 85vh;
    background-color: var(--background-color_2);
}

.about-values {
    display: flex;
    align-items: center;
}

.value1,
.value2,
.value3 {
    background-color: var(--background-color_3);
    color: var(--lighter-grey);
    height: 300px;
    width: 85%;
    border: 1px solid var(--button-green);
    text-align: center;
    margin: 20px;
    padding: 5px;
}

.contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20rem;
    border: 1px solid var(--button-green);
    margin: 20px;
    padding: 10px;
}

@media only screen and (max-width: 650px) {
    .about-page_top {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .about-portrait,
    .about-text {
        width: 80%;
    }
    .about-values {
        flex-direction: column;
    }
}