footer {
  background-color: var(--bg-color);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerDiv {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  width: 100%;
}

.footerDiv:first-child {
  justify-content: flex-start;
  background-color: yellowgreen;
  width: 100%;
}

.footerDiv:last-child {
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  background-color: var(--accent-color);
}

.AGB-link {
  text-decoration: none;
}

.AGB-link:link {
  color: var(--font-color);
}

.AGB-link:hover {
  color: var(--font-color);
}

.fa-brands {
  color: var(--accent-color);
}