@import url('./reset.css');
@import url('./navbar.css');
@import url('./footer.css');
:root {
    --feedback-color_red: #FF2F00;
    --feedback-color_green: #19B600;
    --background-color_1: #FFFAF3;
    --background-color_2: #EFE6DD;
    --background-color_3: #8B816A;
    --button-green: #628054;
    /* Grayscale */
    --font-color: #000;
    --dark-grey: #979797;
    --lighter-grey: #D9D9D9;
    --bright-grey: #EDEEF3;
    /* Fonts */
    --page-title-font: 'Crimson Pro', serif;
    --body-text-font: 'Inter', sans-serif;
    --header-size: 36px;
    --header-weight: 500;
    --regular-font-size: 1.1rem;
    /* socials */
    --facebook-color: #1877F2;
    --instagram-color: #dc2743;
}


/* Scroll behavior when jumping to sections within HTML file */

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: var(--header-size);
    font-weight: var(--header-weight);
    font-family: var(--page-title-font);
}

h2 {
    font-size: 24px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

body {
    font-family: var(--body-text-font);
    font-size: var(--regular-font-size);
    font-weight: 300;
    overflow-x: hidden;
    background-color: var(--background-color_1);
}


/* Base container of every child HTML */

.container {
    display: flex;
    flex-direction: column;

}

button {
    color: #FFF;
    font-weight: 400;
    font-size: 1rem!important;
    line-height: 22px;
    /* identical to box height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.05em;
    height: 40px;
    width: 164px;
    background-color: var(--button-green);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

button:hover {
    opacity: 70%;
}

button:active {
    opacity: 40%;
}