<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/global.css">
  <script src="https://kit.fontawesome.com/762f382184.js" crossorigin="anonymous"></script>
  {% block head %}{% endblock %}
</head>
<header>
  {% include "navbar.html" %}
</header>
<body>
  <div class="container">
    {{ content | safe }}
  </div>
</body>

{% include "footer.html" %}

</html>