/* .about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.about-page_top {
    height: 100vh;
    background-color: var(--background-color_1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-portrait,
.about-text {
    width: 50%;
}

.about-portrait>img {
    margin: 0 auto;
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--button-green);
}

.about-values {
    height: 85vh;
    display: flex;
    background-color: green;
    align-items: center;
}

.value1,
.value2,
.value3 {
    background-color: white;
    height: 300px;
    width: 85%;
    border: solid;
    text-align: center;
    margin: 20px;
}

.contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    border: solid;
    margin: 20px;
    padding: 10px;
}

@media only screen and (max-width: 650px) {
    .about-page_top {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .about-portrait,
    .about-text {
        width: 80%;
    }
}