.container {
    background-color: var(--background-color_1);
    padding: 0 10% 0 0;
}

.contact-timon {
    display: flex;
    justify-content: center;
    padding: 80px 0;
    font-family: var(--page-title-font);
}

.contact-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color_1);
    font-family: var(--body-text-font);
}

.contact-picture {
    width: 50%;
    display: flex;
    justify-content: center;
}

.contact-picture .content {
    border-radius: 50%;
}

.contact-form {
    background-color: var(--background-color_2);
    padding: 40px;
    margin-bottom: 40px;
    width: 50%;
    border-radius: 8px;
}

div.elem-group {
    margin: 20px 0;
}

.elem-group--top {
    margin-bottom: 20px;
}

div.elem-group input,
div.elem-group #message {
    width: 100%;
}

label {
    display: block;
    font-family: 'Aleo';
    padding-bottom: 4px;
    font-size: 1em;
}

input,
select,
textarea {
    border-radius: 2px;
    border: 1px solid #eee;
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'Aleo';
    width: 500px;
    padding: 8px;
}

input::placeholder {
    color: var(--dark-grey);
}

.calender-text {
    color: var(--dark-grey);;
}

textarea {
    height: 200px;
}

.elem-group--btn {
    display: flex;
    justify-content: center;
    margin: 40px 0 0;
}

.contact-btn {
    width: 164px;
    height: 40px;
    background: var(--button-green);
    color: var(--bright-gray);
    border: 2px solid var(--button-green);
    font-size: 1.25em;
    font-family: 'Aleo';
    border-radius: 4px;
    cursor: pointer;
}

.contact-btn:hover {
    border: 2px solid black;
    opacity: 0.9;
}