@import url('./reset.css');
@import url('./navbar.css');
@import url('./footer.css');

:root {
  --colorBlue: blue;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: lightblue;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  height: 85vh;
}

