@import url('./reset.css');
@import url('./navbar.css');
@import url('./footer.css');

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  height: auto;
}