h1 {
  color: aquamarine;
}

#featured-work {
  display: flex;
  flex-direction: row;
  padding: 30px 0;
}

.featured-img {
  margin: 0 10px;
}

#about-container {
  display: flex;
  flex-direction: row;
}

#about {
  display: flex;
  flex-direction: row;
}
#home-about {
  border-radius: 50%;
}

