.stories-grid {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 1em;
    justify-items: center;
    margin-top: 20px;
}

.stories-description {
    position: relative;
    bottom: 50%;
    text-align: center;
    color: Black;
    visibility: hidden;
}

.grid-item:hover>a {
    opacity: 60%;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
}

.grid-item:hover>.stories-description {
    visibility: visible;
}

#client_1 {
    height: 100vh;
    background-color: var(--background-color_1);
}

#client_2 {
    height: 100vh;
    background-color: var(--background-color_2);
}

#client_3 {
    height: 100vh;
    background-color: var(--background-color_1);
}

#client_4 {
    height: 100vh;
    background-color: var(--background-color_2);
}

#client_5 {
    height: 100vh;
    background-color: var(--background-color_1);
}

#client_6 {
    height: 100vh;
    background-color: var(--background-color_2);
}